<body>
  <div class="grid-container">
    <div class="profile_info"> 
      <app-profile-info></app-profile-info>
    </div>
    <div class="profile_countries">
      <app-profile-feed [countries_]="countries"></app-profile-feed>
    </div>
    
  </div>
  
  </body>
<!--
<body>
<div class="grid">
  <div class="profile_info">
    <app-profile-info></app-profile-info>
  </div>
  <div class="profile_countries">
    <app-profile-feed [countries_]="countries"></app-profile-feed>
  </div>
</div>
</body>
-->