<app-fab>name="App"</app-fab>

<router-outlet></router-outlet>
<!--
<app-padre></app-padre>
<app-task-form></app-task-form>
<app-task-list></app-task-list>



    <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
            <div id ="mensaje">
                <div  class="col-sm-">
                    <div class="alert alert-info">
                       
                        Se agrego el concepto list-style-type en la lista CSS
                    </div>
                  </div>
                </div>
            
        </div>
      </div>

    -->
      