
.fab-container{
	position: fixed;
	bottom: 50px;
	right: 50px;
	z-index: 999;
	cursor: pointer;
}
.fab-icon-holder{
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background: #e45042;
	font-size: 70px;

	box-shadow: 0 6px 20px, rgba (0,0,0,0.2);
	}
.fab-icon-holder:hover{
	opacity: 0.8;
}
.fab-icon-holder i{
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;
	font-style: 25px;
	color: cornsilk;
	
}
.fab{
	width: 50px;
	height: 50px;
	background: #e45042;
	
	background-color: red;
	border-radius: 50%;
	box-shadow: 0 6px 10px 0 #666;
	transition: all 0.1s ease-in-out;
	font-size: 25px;
  
	font-style: normal;
	color: white;
	text-align: center;
	line-height: 40px;
	
	
}
.fab-options{
	list-style-type: none;
	margin: 0;

	position: absolute;
	bottom: 70px;
	right: 0;
	opacity: 0;
}

.fab:hover + .fab-options, .fab-options:hover{
	opacity: 1;
}

.fab-options li{
	display: flex;
	justify-content: flex-end;
	padding: 5px;


}

.fab-label{ 
	padding: 2px 5px;
	align-self: center;
	user-select: none;
	white-space: nowrap;
	border-radius: 10px;
	font-size: 16px;
	background: #e45042;
	color: #ffff;
	box-shadow: 0 6px 20px rgba(0,0,0,0.2);
	margin-right: 10px;


}


