
<!--

<div class="modal fade" id="modal1">
    <div Class="modal-dialog">
        
        <div class="modal-content">
            
            <div class="modal-header">
                <h4 class="modal-title"> Formulario</h4>
                <button tyle="button" class="close" data-dismiss="modal1" aria-hidden="true">
                    &times;
                </button>

            </div>

            
            

          
            <div class="card-body">

                <form (submit)="addTask(new_etiqueta, new_descripcion,new_tipo)" >

                    <div class="form-group">
                        <label for="floatingInputGrid"  >a{{textoPadre}}</label>
                        <input type="text" class="form-control" #new_etiqueta>

                    </div>

                    <div class="form-group">
                        <label for="floatingInputGrid">Descripción</label>
                        <textarea cols="3" class="form-control" #new_descripcion></textarea>
                    </div>
                    <label for="floatingInputGrid">Tipo</label>
                    <div class="form-group">
                        <select #new_tipo class="form-control" aria-label=".form-select-lg example">
                            <option value="HTML">HTMl</option>
                            <option value="CSS">CSS</option>
                            <option value="TYPESCRIPT">TYPESCRIPT</option>
                        </select>
                    </div>

                    <button class="btn btn-primary btn-block">
                        Guardar
                    </button>




                </form>

            </div>
        </div>
    </div>
</div>


-->